---
import PageLayout from "@layouts/page.astro";

import Container from "@components/container.astro";
import Head from "@components/head.astro";
import Navbar from "@components/navbar.astro";
import PortfolioCard from "@components/portfoliocard.astro";

import portfolio from "@data/portfolio.json";
---

<PageLayout>
  <head>
    <Head title="Portfolio" permalink="/portfolio" />

    <style lang="scss">
      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
        gap: 24px;
      }
    </style>
  </head>

  <body>
    <Navbar />
    <Container>
      <h1>Oh, All the Things I've Done</h1>
      <div class="grid">
        {
          portfolio.map(({ title, date, description, url, tags }) => (
            <PortfolioCard {title} {date} {description} {url} {tags} />
          ))
        }
      </div>
    </Container>
  </body>
</PageLayout>
