---
import PageLayout from '@layouts/page.astro';

import ButtonBar from '@components/buttonbar.astro';
import ButtonLink from '@components/buttonlink.astro';
import Container from '@components/container.astro';
import Head from '@components/head.astro';
import Navbar from '@components/navbar.astro';
import PortfolioCard from '@components/portfoliocard.astro';

import portfolio from '@data/portfolio.json';

const title = "Portfolio";
const description = "I\'m Anna Hsu (she/her), a Taiwanese-American gal studying Computer Engineering and Computer Science at the University of Southern California.";
const permalink = "/portfolio";
---

<PageLayout>

  <head>

    <Head {title} {description} {permalink} />

    <style lang="scss">
      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
        gap: 24px;
      }
    </style>

  </head>

  <body>
    <Navbar />
    <Container>
      <h1>Oh, All the Things I've Done</h1>
      <ButtonBar>
        <ButtonLink href="#">naslfkjasdlk</ButtonLink>
      </ButtonBar>
      <div class="grid">
        {portfolio.map(({ title, date, description, url, tags }) => (
        <PortfolioCard title={title} date={date} description={description} url={url} tags={tags} />
        ))}
      </div>
    </Container>
  </body>
</PageLayout>
