---
import PageLayout from "@layouts/page.astro";

import Container from "@components/container.astro";
import Head from "@components/head.astro";
import Navbar from "@components/navbar.astro";
import PortfolioCard from "@components/portfoliocard.astro";

import portfolio from "@data/portfolio.json";
---

<PageLayout>
  <head>
    <Head title="Portfolio" permalink="/portfolio" />
  </head>

  <body>
    <Navbar />
    <Container>
      <h1>Oh, all the things I've done</h1>
      <div class="grid">
        {
          portfolio.map(({ title, date, description, url, tags }) => (
            <PortfolioCard {title} {date} {description} {url} {tags} />
          ))
        }
      </div>
    </Container>
  </body>
</PageLayout>

<style lang="scss">
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    gap: 24px;
  }
</style>
