---
import { Image, Picture } from '@astrojs/image/components';

export interface Props {
  src: any;
  alt: string;
}

const { src, alt } = Astro.props;
---

<div class="blogimage">
  <!-- <Image src={src} alt={alt} /> -->
  <Picture src={src} widths={[400, 700, 900]} sizes="(max-width: 600px) 100vw, ((max-width: 900px) and (min-width: 600px)) 900px" alt={alt} />
  <figcaption>{alt}</figcaption>
</div>

<style lang="scss">
  .blogimage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;
    margin-bottom: var(--bottommargin);

    picture, picture > img {
      max-width: 100%;
      height: auto;
    }
  }

  figcaption {
    font-style: oblique;
  }
</style>
