---
import ButtonBar from '@components/buttonbar.astro';
import ButtonTag from '@components/buttontag.astro';
import { Icon } from 'astro-icon';

export interface Props {
  title: string;
  date: string;
  description: string;
  url: string;
  tags: string[];
}
const { title, date, description, url, tags } = Astro.props;


let newDate = new Date(date);

const options = { year: 'numeric', month: 'long', day: 'numeric' };
const formatDate = newDate.toLocaleDateString('en-US', options)
---

<div>
  <a class="cardlink" href={url} target="_blank">
    <div class="content">
      <div class="header">
        <h2 class="title">{title}</h2>
        <span class="date">{formatDate}</span>
      </div>
      <p>{description}</p>
      <ButtonBar>
        <Icon size={40} name="ion:pricetag" />
        {tags.map((tag) => (
        <ButtonTag>{tag}</ButtonTag>
        ))}
      </ButtonBar>
    </div>
  </a>
</div>

<style lang="scss">
  [astro-icon] {
    color: var(--med);
  }

  .card {
    height: 100%;
  }

  .cardlink {
    color: inherit;
    text-decoration: none;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    max-width: 438px;
    background-color: var(--white);
    box-shadow: var(--carddrop);
  }

  .date {
    font-style: oblique;
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .title {
    margin-bottom: 0;
  }
</style>
