---
import ButtonBar from "@components/buttonbar.astro";
import ButtonTag from "@components/buttontag.astro";

export interface Props {
  title: string;
  date: string;
  description: string;
  url: string;
  tags: string[];
}
const { title, date, description, url, tags } = Astro.props;

const newDate = new Date(`${date}T00:00:00`);
const options = { year: "numeric", month: "long", day: "numeric" };
const formatDate = newDate.toLocaleDateString("en-US", options);
---

<!-- when I have a masonry solution (or when grid masonry comes out!) remember to clean up the content class flex -->
<article class="card">
  <a class="cardlink" href={url} target="_blank">
    <div class="content">
      <div class="text">
        <div class="header">
          <h2 class="title">{title}</h2>
          <span class="date">{formatDate}</span>
        </div>
        <p>{description}</p>
      </div>
      <ButtonBar>
        {tags.map((tag) => <ButtonTag>{tag}</ButtonTag>)}
      </ButtonBar>
    </div>
  </a>
</article>

<style lang="scss">
  .card:hover {
    transform: scale(1.01);
    transition: 0.3s;
  }

  .card:active {
    transform: scale(0.98);
    transition: 0.3s;
  }

  .cardlink {
    color: inherit;
    text-decoration: none;
    box-shadow: none;
    padding: 0;
    transition: none;
    font-weight: inherit;
  }

  .cardlink:hover {
    color: inherit;
    background: none;
  }

  .cardlink:visited {
    color: inherit;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 24px;
    background-color: var(--white);
    box-shadow: var(--carddrop);
    height: 100%;
  }

  .date {
    font-style: oblique;
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 5;

    p {
      margin-bottom: 1rem;
    }
  }

  .title {
    margin-bottom: 0;
  }
</style>
