---
import PageLayout from '@layouts/page.astro';

import Container from '@components/container.astro';
import Head from '@components/head.astro';
import Navbar from '@components/navbar.astro'

// const { title, description, publishDate, permalink } = Astro.props;
const { frontmatter } = Astro.props;

const title = frontmatter.title;
const description = frontmatter.description;
const options = { year: 'numeric', month: 'long', day: 'numeric' };
const formatDate = frontmatter.publishDate.toLocaleDateString('en-US', options);
const permalink = `/blog/${frontmatter.permalink}`;
---

<PageLayout>

  <head>
    <link rel="stylesheet" href="/prism-laserwave.css" />

    <Head {title} {description} {permalink} />

    <style lang="scss">
      .date {
        font-style: oblique;
      }

      .header {
        margin-bottom: 32px;
      }
    </style>
  </head>

  <body>
    <Navbar />
    <Container>
      <header class="header">
        <h1>{title}</h1>
        <span class="date">{formatDate}</span>
      </header>
      <div>
        <slot />
      </div>
    </Container>
  </body>
</PageLayout>
